<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="patient/navbar::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="card mt-5 mr-5">
			<div class="card-body">
				<h1 class="text-center">Change Password</h1>

				<div th:if="${session.msg}" id="msg" class="container"
					style="text-align: center; width: 500px; margin-left: auto; margin-right: auto;">
					<div th:classappend="${'alert-'+ session.msg.type}" class="alert"
						role="alert">
						<span th:text="${session.msg.message}"></span>
					</div>
					<th:block th:text="${#session.removeAttribute('msg')}"></th:block>
				</div>

				<form th:action="@{/patient/updatePassword}" class="mt-5">
					<div class="row justify-content-center">
						<div class="form-group col-4">
							<input type="text" name="oldPassword" class="form-control"
								placeholder="Enter Old Password" required
										oninvalid="this.setCustomValidity('Please Enter Old Password.')"
										oninput="setCustomValidity('')" />
						</div>
					</div>
					<div class="row justify-content-center">
						<div class="form-group col-4 mt-3">
							<input type="text" name="newPassword" class="form-control"
								placeholder="Enter New Password" required
										oninvalid="this.setCustomValidity('Please Enter New Password')"
										oninput="setCustomValidity('')"/>
						</div>
					</div>

					<div class="container text-center mt-4 mb-5">
						<button type="submit" class="btn btn-success">Change</button>
						<button type="reset" class="btn btn-warning">Reset</button>
					</div>


				</form>
			</div>
		</div>

		<script type="text/javascript">
			$(document).ready(function() {

				let intervalId = setTimeout(hide, 3000);

				function hide() {
					$('#msg').css('display','none');
				}
				
			})
		</script>
	</section>
</body>
</html>