<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="navbar::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Title</title>
</head>
<body>
	<section>

		<style>
			#login .container #login-row #login-column #login-box {
				margin-top: 20px;
				margin-bottom: 100px;
				max-width: 600px;
				height: 400px;
				border: 1px solid #9C9C9C;
				background-color: #f5f2f3;
			}
			
			#login .container #login-row #login-column #login-box #login-form {
				padding: 20px;
			}
			
			#login .container #login-row #login-column #login-box #login-form #register-link
				{
				margin-top: -85px;
			}
		</style>

		<div id="login" class="mt-2 mb-2">
			<h3 class="text-center text-white pt-5">Password Recovery form</h3>
			<div class="container">
				<div id="login-row"
					class="row justify-content-center align-items-center">
					<div id="login-column" class="col-md-6">
						<div id="login-box" style="height: 250px;" class="col-md-12">
							
							<div class="alert alert-success mt-2 text-center" role="alert">
								We have send OPT to your email
							</div>
							
							<div th:if="${session.msg}" id="msg" class="container"
								style="text-align: center; width: 500px; margin-left: auto; margin-right: auto;">
								<div th:classappend="${'alert-'+ session.msg.type}"
									class="alert" role="alert">
									<span th:text="${session.msg.message}"></span>
								</div>
								<th:block th:text="${#session.removeAttribute('msg')}"></th:block>
							</div>
							
							<form th:action="@{/verify-otp}" method="POST">
								<div class="form-group">
									<input type="text" name="otp" placeholder="Enter OPT Number Here" class="form-control mt-4" required/>
								</div>
								<div class="container text-center mt-4">
									<button class="btn btn-success">
										Verify
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		
			<script type="text/javascript">
			$(document).ready(function() {

				let intervalId = setTimeout(hide, 3000);

				function hide() {
					$('#msg').css('display', 'none');
				}

			})
		</script>
	</section>

</body>
</html>